
@media print {
    @page {
        size: landscape;
        margin: 0;
    }
    body{
        -webkit-print-color-adjust: exact !important;
        display:block!important;
    }   
    #printScreen{display: none}
}